<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiveWest_Q4</title>
   

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/typeahead.css') }}">
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Ajax import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Imports for typeahead functionality -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>           
</head>
<body>
    <div>
        <h1>Drink Link: <small>The BAC Tracker</small></h1>
    </div>

    <!-- Buttons to add new and existing patron -->
    <div class = "control">
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
                    Add a New Patron
                </button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal2">
                    Add Existing Patron
                </button>
            </div>
        </div>
    </div>

    <!--Bootstrap Modal: Add an existing patron form -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select an Existing Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method = "POST" action="/" id="existing_patronForm">
                    <div class="modal-body">                  
                        <label>Search ID:</label>
                        <input class="typeahead" type="text" id="my_search2" name="search" autocomplete="off" required/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="addExistingPatron()">Add</button>
                        <button type="submit" style="display: none;" id="submit-existing-btn"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <!--Bootstrap Modal: Add new Patron form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a New Patron</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method = "POST" action="/" id="patronForm">
                    <div class="modal-body">
                        <label>Name</label>
                        <input type="text" name="patron_name" required>
                        <label>ID</label>
                        <input type="text" name="patron_id" id="form_id" required>
                        <label>Bodyweight</label>
                        <input type="text" name="patron_bodyweight" id="form_bw" required>
                        <label>Sex</label>
                        <!-- Bootstrap radio check boxes: Male or Female -->
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="patron_sex" id="flexRadioDefault1" value="Male" required>
                            <p>Male</p>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="patron_sex" id="flexRadioDefault2" value="Female" required>
                            <p>Female</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="add-new-btn" onclick="check_unique()">Save</button>
                        <!-- Browser prompts user to fill required fields when submit button used -->
                        <button type="submit" style="display: none;" id="submit-new-btn"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <!-- Grid tile elements which carry patron details and can be clicked on to produce a patron details modal -->
    <ul class="list-group">
        <div class="parent">
            {% for patron in patrons %}
            <div id="tile{{patron.id}}" type="button" onclick="openModal('{{patron.id}}')" type="submit" name="modalID" 
                    value="{{patron.id}}" class="list-group-item" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
                <div position="absolute">
                    <div class="position-relative" style="text-align:center;">
                        <form method = "POST" action="/">
                            <input type="hidden" name="id" value="{{patron.id}}">
                            <input type="submit" class="btn btn-outline-secondary btn-sm" value="&times;" name="removeID">
                        </form>
                    </div>
                    <p id="tile-text{{patron.id}}" style="text-align:center;">
                        ID: {{patron.id}}<br>{{patron.name}}<br><span id="bloodAlc{{patron.id}}">0 %</span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>
                
    <!-- Bootstrap Modal: Patron details -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Patron Details</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="details">
                </div>
                <div class="container">
                    <div class="modal-body" id="bac-data">
                        <strong>Blood Alcohol Content:&nbsp</strong>
                        <span id="bac" >0</span>&nbsp%<br>
                        <strong>Alcohol Capacity:&nbsp</strong>
                        <span id="bac-capacity" >0</span>&nbsp%
                    </div>
                </div>
                <div class="modal-footer">                      
                    <label>Add a Drink:</label>
                    <div id="scrollable-dropdown-menu">
                        <input class="typeahead" type="text" id="my_search" name="search" autocomplete="off"/>
                    </div>
                    <button id="myBtn" class="btn btn-primary" onclick="addOrder()">Add</button>
                </div>
                <div class="modal-body">
                    <h5>Order History</h5>
                    <div id="slideContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="POST" action="/reset">
            <button type="submit" id="reset" class="btn btn-primary">Reset All App Data</button>
        </form>
    </div>
    <!-- Local javascript file -->
    <script src="{{ url_for('static', filename='javascript/control.js')}}"></script>
</body>
</html>