body {
    margin: 20px;
    background-color: #88dfec;
}
h1 {
    font-size: 4em;
    background-color:aliceblue;
    border-style:solid;
    text-align: center;
}
.parent {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(8, 9.5em);
    grid-template-rows: repeat(5, 9.5em);
}
.parent > div {
    padding: 1em;
    background-color: aliceblue;
    border-radius: 5px;

    display: grid;
    place-items: center;

    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
.control{
    margin: 0 auto;
    width: fit-content;
    height: 0 auto; 
    display: grid;

}
.control > div {
    padding-top: 0.9em;
}

form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}